<div class="row col-md-12">
  <div class="col-md-3 chat-header-image">
    <!--<img src="images/reading-santa.gif" style="height: 150px">-->
    <!-- <div class="ribbon">
      <div class="ribbon-stitches-top"></div>
      <strong class="ribbon-content">
        <h1>{{chatHeader}}</h1>
      </strong>
      <div class="ribbon-stitches-bottom"></div>
    </div> -->
  </div>

  <!-- <button class="col example pinterest pull-right" style="margin-top: 20px; margin-right: 20px" data-toggle="modal" data-target="#myModal2">Poke</button> -->
  <!-- Modal -->
  <div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 ng-show="!isSanta" class="modal-title">Poke your Santa</h4>
          <h4 ng-show="sSanta" class="modal-title">Poke your Child</h4>
        </div>
        <div class="modal-body">
          <p ng-show="!isSanta">Poking you santa will send him a email, <br> if you are lucky your santa may turn up before it's too late</p>
          <p ng-show="isSanta">Poking your child will send him a email, <br> if you are lucky your child may turn up before it's too late</p>
        </div>
        <div class="modal-footer">
          <button class="col example pinterest btn" ng-click="poke()" data-dismiss="modal">Poke Now!</button>
        </div>
      </div>

    </div>
  </div>
  <div class = "col-md-12">
    <img ng-if="isSanta" src="images/poke-child1.gif" height="50px" class="col example pinterest pull-right poke" ng-attr-title="Poke your Child" style="padding-left:10px" data-toggle="modal" data-target="#myModal2">
    <img ng-if="isSanta" src="images/profile_child.gif" height="50px" class="col example pinterest pull-right poke" ng-attr-title="Check out Child Profile" style="padding-left:10px" ng-click="goToChildProfile()">
    <img ng-if="isSanta" src="images/santa-gift.gif" height="50px" class="col example pinterest pull-right santa-gift" ng-attr-title="Send a Gift to you Child" data-toggle="modal" data-target="#myModal">
    <img ng-if="!isSanta" src="images/poke-santa.gif" height= "50px" class="col example pinterest pull-right poke" ng-attr-title="Poke your SANTA" data-toggle="modal" data-target="#myModal2">
  </div>

<!--   <button ng-show="isSanta" class="col example pinterest pull-right" style="margin-top: 20px; margin-right: 20px" data-toggle="modal" data-target="#myModal">
    Send a
    <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/gift-icon.png" alt="" width="30px" height="30px">
  </button>
 -->  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send A Gift</h4>
        </div>
        <div class="modal-body">
          <p>Describe the gift and give a clue to your child about the gift!<br> Do not make it easy :P</p>
          <br>
          <input type="text" placeholder="type here...." ng-model="giftContent"/>
        </div>
        <div class="modal-footer">
          <button class="col example pinterest btn" ng-click="sendAGift(giftContent)" data-dismiss="modal">Send Now!</button>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4">
    <div class="tasks-container">
        <div class="input-group" ng-if="isSanta">
          <input type="text" class="form-control" style="border-color: #C51712; border-width: 2px" placeholder="Give your child a task!" ng-model="task">
          <span class="input-group-btn">
              <button class="example pinterest" type="button" ng-click="addTask(task); task = null">Challenge</button>
            </span>
        </div>
        <div ng-if="!isSanta">
          <h2 class="text-center white-text">My Tasks</h2>
        </div>

         <ul class="list">
          <li class="list-item" ng-repeat="task in tasks track by $index">
            <input  type="checkbox" class="hidden-box" id="ck-{{$index}}" ng-change="updateTaskStatus(task)" ng-model="task.completed"/>
            <label for="ck-{{$index}}" class="check--label">
              <span ng-show="isSanta" class="check--label-box"></span>
              <span class="check--label-text">{{task.text}}</span>
              <button type="button" class="close" ng-show="isSanta" ng-click="deleteTask(task)" style="color: white;">&times;</button>
            </label>
          </li>
           <label class="check--label" ng-if="tasks.length === 0">
             <span class="check--label-text text-muted">{{getEmptyTasksContext()}}</span>
           </label>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="well chat-container">
        <div id="chat" class="chat-list">
          <div ng-repeat="msg in messages" class="panel" ng-class="getClass(msg)">
            <div class="panel-body" ng-bind-html="msg.text">
            </div>
            <p class="white-text-mix">{{msg.timestamp | date:'medium'}}</p>
          </div>
        </div>
        <div class="row input-group">
          <span ng-if="messages.length === 0" class="text-muted text-center" style="margin: 0">Don't be shy, Start a new conversation</span>
          <text-angular ng-model="message"></text-angular>
          <!-- <input type="text" class="form-control" placeholder="You can use markup also ! eg, <b>Hello World</b>"  style="border-color: #C51712; border-width: 2px"> -->
          <span class="input-group-btn" style="padding-top:65px">
            <button class="example pinterest" type="button" style="height:40px" ng-click="addMessage(message); message = null">send</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
