<div class="jumbotron">
  <h1 style="color: white">Ho Ho Ho</h1>
  <p class="lead">
    <!--<img src="images/yeoman.png" alt="I'm Yeoman"><br>-->
  </p>
  <div class="row" ng-class="{shake: isShake}" ng-hide-auth="">
    <input type="button" class="col btn btn-primary" value="Enter through official ID">
    <!--<button class="col example pinterest">Enter!</button>-->
    <button  class="col example pinterest" ng-click="oauthLogin('google')">Google</button>
    <!--<a class="col btn btn-lg btn-success" ng-href="#/">Enter!<span class="glyphicon glyphicon-ok"></span></a>-->
  </div>
</div>

<div class="container">

  <h3 class="text-center">Activity</h3>

  <ul class=" list-group">
    <li class="activity list-group-item">Cras justo odio</li>
    <li class="activity list-group-item">Dapibus ac facilisis in</li>
    <li class="activity list-group-item">Morbi leo risus</li>
  </ul>

</div>
