<div class="christmasLights" style="width: 100%"></div>
<div class="row" ng-class="{shake: isShake}" ng-hide-auth="">
  <button  class="example facebook">Enter through official ID</button>
  <!--<button class="col example pinterest">Enter!</button>-->
  <button  class="example pinterest" ng-click="oauthLogin('google')">Google</button>
  <!--<a class="col btn btn-lg btn-success" ng-href="#/">Enter!<span class="glyphicon glyphicon-ok"></span></a>-->
</div>

<div class="container">

  <h3 class="text-center" style="color: white">Activity</h3>

  <ul class=" list-group">
    <li class="activity list-group-item" ng-repeat="act in activites">{{constructMessage(act)}}</li>
  </ul>

</div>

<div>
  <img src="http://clipart-library.com/images/yckA54Gxi.png" class="tree-bg" style="height: 400px; width: 300px;" alt="">
</div>
